/* Fonts
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
 */
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

body {
  font-family: 'Roboto', sans-serif; }

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 100%;
  box-shadow: 0px 4px 100px gray; }
  .header__logo-img {
    height: 2em; }

.header__localisation {
  margin-top: 3px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 3em;
  width: 100%; }

.header__localisation--icon {
  justify-self: center;
  position: relative;
  left: 7em; }

.header__localisation--text {
  margin-left: auto;
  margin-right: auto;
  color: #595959;
  font-weight: bold; }

.topSection {
  display: flex;
  background: #f6f6f6;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 4em; }
  .topSection__header {
    padding-top: 2em;
    margin-bottom: .2em;
    flex-wrap: wrap;
    text-align: center; }
  .topSection__text {
    padding: 2em 2.5em;
    text-align: center;
    color: #595959; }
  .topSection__button {
    border-style: none;
    border-radius: 25px;
    height: 3.5em;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0 auto;
    width: max-content;
    background: linear-gradient(to right bottom, #FF79DA 5%, #9356DC);
    color: #ffffff;
    font-size: 1em; }

.fonctionIndex {
  padding: 4em 0;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  row-gap: 1.6em; }
  .fonctionIndex__header {
    margin: auto 0;
    position: relative;
    bottom: 1em;
    padding-left: 1em; }
  .fonctionIndex__button {
    box-shadow: 3px 3px 15px #e6e6e6;
    border-radius: 20px;
    margin: 0 10%;
    height: 10vh;
    display: flex;
    align-items: center;
    background: #f6f6f6; }
    .fonctionIndex__button-number {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #9356DC;
      color: #ffffff;
      margin-left: -1em; }
    .fonctionIndex__button-icon {
      transform: scale(1.3);
      margin: 10% 10%;
      color: grey; }
    .fonctionIndex__button-text {
      margin-right: 5%;
      font-weight: bold; }
  .fonctionIndex__button:hover {
    background-color: #f2eafb; }
  .fonctionIndex__button:hover > i {
    color: #9356DC; }

.restaurants {
  padding: 3em 5%;
  background: #f6f6f6;
  display: grid;
  row-gap: 1em; }
  .restaurants__card {
    background-color: #fff;
    border-radius: 1.25em;
    box-sizing: border-box;
    height: 100%; }
    .restaurants__card-new {
      position: absolute;
      left: 72%;
      margin-top: 1rem;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: .9rem;
      font-weight: 600;
      background-color: #99e2d0;
      color: #2a947a; }
    .restaurants__card-figure {
      margin: 0;
      display: flex;
      flex-direction: column; }
    .restaurants__card-img {
      height: 10em;
      object-fit: cover;
      object-position: center;
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      border-radius: 1em 1em 0 0; }
    .restaurants__card-second {
      display: inline-flex;
      padding: 0 5%;
      justify-content: space-between; }
      .restaurants__card-second h3 {
        padding: .5em 0 .2em 0; }
      .restaurants__card-second p {
        padding-bottom: .5em; }
      .restaurants__card-second-heart::before {
        font-size: 2em;
        align-self: center;
        display: inline-flex;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f004";
        background-image: none;
        background-clip: text;
        color: black;
        position: relative;
        top: 20%;
        transition: all 1s ease-out;
        cursor: pointer; }
      .restaurants__card-second-heart:active::before {
        display: inline-flex;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        position: relative;
        top: 20%;
        animation: liker 2s linear forwards;
        font-weight: 900;
        background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        color: transparent; }

/* Header restaurants */
.resto__header {
  display: flex;
  padding-top: 1em; }

.resto__header-button {
  padding-bottom: .5em;
  margin-left: 1em;
  background-color: white;
  border-style: none; }
  .resto__header-button i {
    font-size: 2em; }

.resto__header-logo {
  margin-left: 15%;
  height: 2em;
  padding: .5em; }

.resto__image {
  height: 15rem;
  width: 100%; }
  .resto__image-one {
    background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: 100%;
    background-position: center; }
  .resto__image-two {
    background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: 100%;
    background-position: center; }
  .resto__image-three {
    background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: 100%;
    background-position: center; }
  .resto__image-four {
    background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: 100%;
    background-position: center; }

.resto__container {
  display: grid;
  background: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -3em;
  padding: 2em 5% 0 5%; }

.resto__titre {
  display: flex;
  justify-content: space-between; }
  .resto__titre h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.7em; }
  .resto__titre i {
    font-size: 1.7em;
    align-self: center; }

/*Plats dans les menus (cartes) */
.resto__section {
  display: grid;
  row-gap: 1em;
  padding-top: 2em; }
  .resto__section h2 {
    font-size: 1em;
    height: 1.5em;
    border-bottom: 4px solid #99E2D0;
    font-weight: 400; }

.resto__card {
  display: flex;
  flex-direction: column;
  padding: 1em .5em .7em .5em;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px gray; }
  .resto__card-bottom {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em; }
    .resto__card-bottom p {
      font-weight: 300;
      width: 85%; }
    .resto__card-bottom span {
      font-weight: bold; }

.button__commander {
  padding-top: 2em;
  padding-bottom: 5em; }
  .button__commander button {
    border-style: none;
    border-radius: 25px;
    height: 3.5em;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0 auto;
    width: max-content;
    background: linear-gradient(to right bottom, #FF79DA 5%, #9356DC);
    color: #ffffff;
    font-size: 1em;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    height: 3.3em;
    box-shadow: 0px 0px 8px gray;
    cursor: pointer;
    transition: transform 300ms; }
  .button__commander button:hover {
    transform: scale(1.14); }

.footer {
  padding: 2em 5%;
  display: flex;
  flex-direction: column;
  background: #353535; }
  .footer__logo {
    height: 1em;
    margin-bottom: 5%; }
  .footer__item-icon {
    margin-bottom: .3em; }
    .footer__item-icon i {
      color: #fff;
      font-size: .8em;
      margin-right: .5em; }
    .footer__item-icon a {
      color: #fff; }
  .footer__item {
    margin-bottom: .3em;
    color: #fff; }
