@import "scss/config/_config.scss";
@import "scss/config/_mixins.scss";

/* Fonts
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
 */

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

//Index.html
.header {
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4em;
        width: 100%;
        box-shadow: 0px 4px 100px gray;
        &-img {
            height: 2em;
        }
    }
    &__localisation {
        margin-top: 3px;
        background: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 3em;
        width: 100%;
    }
    &__localisation--icon {
        justify-self: center;
        position: relative;
        left: 7em;
    }
    &__localisation--text {
        margin-left: auto;
        margin-right: auto;
        color: hsl(0, 0, (35%));
        font-weight: bold;
    }
}

.topSection {
    display: flex;
    background: #f6f6f6;
    flex-direction: column;
    box-sizing: border-box;
    //height: 20em;
    width: 100%;
    padding-bottom: 4em;
    &__header {
        padding-top: 2em;
        margin-bottom: .2em;
        flex-wrap: wrap;
        text-align: center;
    }
    &__text {
        padding: 2em 2.5em;
        text-align: center;
        color: hsl(0, 0, (35%));
    }
    &__button {
        border-style: none;
        border-radius: 25px;
        height: 3.5em;
        align-content: center;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        margin: 0 auto;
        width: max-content;
        background: linear-gradient(to right bottom, $secondary 5%, $primary);
        color: #ffffff;
        font-size: 1em;
    }
}

.fonctionIndex {
    padding: 4em 0;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    row-gap: 1.6em;
    &__header {
        margin: auto 0;
        position: relative;
        bottom: 1em;
        padding-left: 1em;
    }
    &__button {
        box-shadow: 1px 1px 15px grey;
        border-radius: 20px;
        margin: 0 10%;
        height: 10vh;
        display: flex;
        align-items: center;
        background: #f6f6f6;
        //justify-content: center;
        &-number {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $primary;
            color: #ffffff;
            margin-left: -1em;
        }
        &-icon {
            transform: scale(1.3);
            margin: 10% 10%;
            color: grey;
        }
        &-text {
            margin-right: 5%;
            font-weight: bold;
        }
    }
}

.restaurants {
    //padding-top: 3em;
    //padding-left: 5%;
    //padding-right: 5%;
    //padding-bottom: 3em;
    padding: 3em 5%;
    background: #f6f6f6;
    display: grid;
    row-gap: 1em;
    &__header {}
    &__card {
        background-color: #fff;
        //padding: 0.375em;
        border-radius: 1.25em;
        box-sizing: border-box;
        height: 100%;
        &-figure {
            margin: 0;
        }
        &-img {
            height: 10em;
            object-fit: cover;
            object-position: center;
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            border-radius: 1em 1em 0 0;
        }
        &-text {
            margin: 0.2em 0.7em 1em 0.7em;
        }
        &-loc {
            margin: 0.2em 0.7em 0 0.7em;
        }
        &-heart {
            position: relative;
            font-size: 2em;
            bottom: 2rem;
            left: 85%;
        }
    }
}

.footer {
    padding: 2em 5%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background: #353535;
    &__logo {
        height: 1em;
    }
    &__item-icon {
        & i {
            color: #fff;
        }
        & a {
            color: #fff;
        }
    }
    &__item {
        color: #fff;
    }
}