.resto__titre-heart {
    display: flex;
    justify-content: center;
    position: relative;
    align-self: center;
    width: 3em;
    height: 100%;
    cursor: pointer;
    & .heart-1 {
        position: absolute;
        top: auto;
        //transform: translate(-50%, -50%);
        opacity: 1;
        transition: opacity .4s ease-in-out;
    }
    & .heart-2 {
        position: absolute;
        top: auto;
        //transform: translate(-50%, -50%);
        background: -webkit-linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity .4s ease-in-out;
    }
}

.resto__titre-heart:hover>.heart-1 {
    opacity: 0;
}

.resto__titre-heart:hover>.heart-2 {
    opacity: 1;
}