// Styles Pages restaurants

/* Header restaurants */

.resto__header {
    display: flex;
    padding-top: 1em;
    @include mq(medium) {
        padding: 1em;
    }
}

.resto__header-button {
    padding-bottom: .5em;
    margin-left: 1em;
    background-color: white;
    border-style: none;
    & i {
        font-size: 2em;
    }
}

.resto__header-logo {
    margin-left: 15%;
    height: 2em;
    padding: .5em;
    @include mq(480px) {
        margin-left: 20%;
    }
    @include mq(medium) {
        margin-left: 30%;
    }
}

.resto__image {
    height: 15rem;
    width: 100%;
    @include mq(medium) {
        height: 25em;
    }
    &-one {
        background-image: url(https://marcoguzman211.github.io/MarcoGuzman_3_08102020/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-size: 100%;
        background-position: center;
        @include mq(medium) {
            background-position: bottom;
        }
    }
    &-two {
        background-image: url(https://marcoguzman211.github.io/MarcoGuzman_3_08102020/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-size: 100%;
        background-position: center;
        @include mq(medium) {
            background-position: 20% 65%;
        }
    }
    &-three {
        background-image: url(https://marcoguzman211.github.io/MarcoGuzman_3_08102020/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-size: 100%;
        background-position: center;
        @include mq(medium) {
            background-position: 20% 99%;
        }
    }
    &-four {
        background-image: url(https://marcoguzman211.github.io/MarcoGuzman_3_08102020/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-size: 100%;
        background-position: center bottom;
        @include mq(medium) {
            background-position: 20% 99%;
        }
    }
}

.resto__container {
    display: grid;
    background: #f6f6f6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -3em;
    padding: 2em 5% 0 5%;
}

.resto__titre {
    display: flex;
    justify-content: space-between;
    & h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
        @include mq(medium) {
            font-size: 2.5em;
        }
    }
    & i {
        font-size: 1.7em;
        align-self: center;
        //aligement prix padding-right: 5%;
        @include mq(medium) {
            padding-right: 100%;
        }
    }
}


/*Plats dans les menus (cartes) */

.resto__section {
    display: grid;
    row-gap: 1em;
    padding-top: 2em;
    @include mq(large) {
        grid-template-columns: 1fr 1fr;
    }
    & h2 {
        font-size: 1em;
        height: 1.5em;
        border-bottom: 4px solid $third;
        font-weight: 400;
        width: 40px;
    }
}

.resto__card {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    padding: 1em .5em .7em .5em;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px gray;
    cursor: pointer;
    /*Pour que les cartes soient cachés au chargement */
    opacity: 0;
    & h3 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: width .3s linear;
    }
    &-bottom {
        display: flex;
        flex-wrap: nowrap;
        gap: 1em;
        min-width: 0;
        & p {
            font-weight: 300;
            width: 85%;
        }
        & span {
            font-weight: bold;
            transition: padding-right .65s ease-in-out;
        }
    }
}

//Button commander
.button__commander {
    display: flex;
    padding-top: 2em;
    padding-bottom: 5em;
    box-sizing: initial;
    width: 100%;
    justify-content: right;
    & button {
        @include buttonDegrade;
        padding-top: .2em;
        padding-bottom: .2em;
        padding-left: 3.5em;
        padding-right: 3.5em;
        height: 3.3em;
        box-shadow: 0px 0px 8px gray;
        cursor: pointer;
        transition: transform 300ms, box-shadow .4s ease-in;
        @include mq(medium) {
            font-size: 1.2em;
        }
    }
    & button:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 15px gray;
        background: linear-gradient(to right bottom, #ff93e1 5%, #a16be0);
    }
}