//Footer commun
.footer {
    padding: 2em 5%;
    display: flex;
    flex-direction: column;
    background: #353535;
    &__logo {
        display: inline;
        left: 0;
        margin-bottom: 5%;
        & img {
            height: 1em;
        }
    }
    &__item-icon {
        margin-bottom: .3em;
        & i {
            color: #fff;
            font-size: .8em;
            margin-right: .5em;
        }
        & a {
            color: #fff;
        }
    }
    &__item {
        margin-bottom: .3em;
        color: #fff;
    }
}